/* Beginn 1. Abschnitt */

/* Anpassung der ungeordneten Liste */
/* Entfernen von Listenpunkten, Margin, Padding */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Anpassung der Listeneinträge */
/* Darstellung nebeneinander, Margin in Größe der Schriftgröße */
li{
    display: inline-flex;
    margin: 1em;
}

/* Anpassung der Links im Header */
/* Farbe auf weiß */
header a{
    color: white;
}

/* Anpassung der Links im Footer */
/* Farbe auf grau */
footer a{
    color: #a9b1ba;
}

/* Anpassung der ungeordneten Listen in der Navigation im Footer */
/* Zentrierung des Textes */
footer nav ul{
    text-align: center;
}

/* Anpassung der div-Elemente*/
/* Margin oben in Größe der Schriftgröße */
div{
    margin-top: 1em;
}

/* Anpassung des Elements mit der ID: confirmation */
/* Zentrierung des Textes */
#confirmation{
    text-align: center;
}

/* Anpassung des Elements mit der ID: resetButton */
#resetButton{
    border: solid red;
    border-width: thin;
}

/* Beginn 2. Abschnitt */

/* Design kleine Bildschirme */
@media screen and (max-width: 767px){
    h1 {
        font-size: 1.5em;
    }

    h2{
        font-size: 1.2em;
    }

    .mobile {
        display: block;
    }

    .desktop{
        display: none;
    }

    .desktop-container{
        display: none;
    }

    #resetButton{
        margin-top: 1em;
    }
}

/* Design große Bildschirme */
@media screen and (min-width: 768px){
    .mobile {
        display: none;
    }

    .desktop{
        display: block;
    }

    .mobileNav{
        display: none;
    }
}

/* Beginn 3. Abschnitt */

/* Anpassung des Elements mit der ID: menuLinks */
/* Verhindern des Ausklappens bei initialen Laden */
#menuLinks {
    display: none;
}

/* Anpassung aller Links in der Klasse mobileNav */
/* Padding top-bottom 14px & left-right 16px, Schriftgröße 17px, Darstellung untereinander */
.mobileNav a {
    padding: 14px 16px;
    font-size: 17px;
    display: block;
}

/* //Anpassung des Elements mit der ID: menuIcon */
/* Größe 32px, Padding top-bottom 17px & left-right 16px, absolute Positionierung */
#menuIcon {
    font-size: 32px;
    padding: 17px 16px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
