ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-flex;
    margin: 1em;
}
header a {
    color: white;
}
footer a{
    color: #a9b1ba;
}
footer nav ul{
    text-align: center;
}
div{
    margin-top: 1em;
}
#confirmation{
    text-align: center;
}